<!-- <header class="z-40 items-center w-full h-16 bg-white shadow-lg dark:bg-gray-700 rounded-2xl">
    <div class="">
        <div class="relative flex items-center w-full pl-1 lg:max-w-68 sm:pr-2 sm:ml-0 justify-center">
                
            </div>
        </div>
    </header> -->

    <div class="navbar bg-white shadow-lg dark:bg-gray-700 rounded-2xl">
        <div class="flex-1">
            <p class="font-medium">{{ currentDateTime | date:'EEEE, MMMM d, y, HH:mm:ss' }}</p>
        </div>
        
      </div>


     