
<main class="relative h-screen overflow-hidden bg-gray-100 dark:bg-gray-800 rounded-2xl">
  <div class="flex items-start justify-between">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
      <!-- End Sidebar -->
      <div class="flex flex-col w-full pl-0 md:p-4 md:space-y-4">
        <!-- Header -->
          <app-header></app-header>
        <!-- End Header -->

        <!-- Content -->
        <router-outlet></router-outlet>
        <!-- End Content -->
              


          </div>
      </div>
  </main>
