<!-- Component Start -->
<div
  class="md:hidden flex-col my-4 ml-4 shadow-lg items-center w-16 h-full overflow-hidden text-gray-700 bg-white rounded-2xl"
>
  <a class="flex items-center justify-center mt-3" href="#">
    <img src="/assets/logo.png" />
  </a>
  <div class="flex flex-col items-center mt-3 border-t border-gray-300 py-4">
    <a
      class="flex items-center justify-center w-12 h-12 mt-2 rounded hover:bg-gray-300"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        class="w-6 h-6 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
      </svg>
    </a>
    <a
      class="flex items-center justify-center w-12 h-12 mt-2 rounded hover:bg-gray-300"
      routerLink="pending"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-bootstrap-reboot"
        viewBox="0 0 16 16"
      >
        <path
          d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"
        />
        <path
          d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"
        />
      </svg>
    </a>
    <a
      class="flex items-center justify-center w-12 h-12 mt-2 rounded hover:bg-gray-300"
      routerLink="kalibrasi"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        class="w-6 h-6 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
        />
      </svg>
    </a>
    <a
      class="flex items-center justify-center w-12 h-12 mt-2 rounded hover:bg-gray-300"
      routerLink="report"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        width="24"
        height="24"
        fill="#000000"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 490 490"
        xml:space="preserve"
      >
        <g>
          <g>
            <g>
              <path
                d="M480,325h-5V45c0-5.523-4.477-10-10-10H300V10c0-5.523-4.477-10-10-10h-90c-5.523,0-10,4.477-10,10v25H25
           c-5.523,0-10,4.477-10,10v280h-5c-5.523,0-10,4.477-10,10v35c0,5.523,4.477,10,10,10h152.338l-50.913,84.855l17.149,10.29
           L185.662,380H235v110h20V380h49.338l57.087,95.145l17.149-10.29L327.662,380H480c5.523,0,10-4.477,10-10v-35
           C490,329.477,485.523,325,480,325z M210,20h70v15h-70V20z M35,55h420v270H35V55z M470,360H20v-15h450V360z"
              />
              <path
                d="M170,90c-55.14,0-100,44.86-100,100s44.86,100,100,100s100-44.86,100-100S225.14,90,170,90z M170,270
           c-44.112,0-80-35.888-80-80c0-40.724,30.593-74.413,70-79.353V190c0,5.523,4.477,10,10,10h79.353
           C244.413,239.407,210.724,270,170,270z M180,180v-69.353c36.128,4.529,64.824,33.225,69.353,69.353H180z"
              />
              <rect x="345" y="130" width="70" height="20" />
              <rect x="345" y="160" width="70" height="20" />
              <rect x="345" y="190" width="70" height="20" />
              <rect x="345" y="100" width="45" height="20" />
              <path
                d="M324.999,119.999v-20h-45c-2.652,0-5.196,1.054-7.071,2.929l-15,15l14.143,14.143l12.07-12.072H324.999z"
              />
              <rect x="310" y="235" width="115" height="20" />
              <rect x="280" y="270" width="145" height="20" />
            </g>
          </g>
        </g>
      </svg>
    </a>
    <a
      class="flex items-center justify-center w-12 h-12 mt-2 rounded hover:bg-gray-300"
      routerLink="cetak"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        width="24"
        height="24"
        fill="#000000"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 490 490"
        xml:space="preserve"
      >
        <g>
          <g>
            <g>
              <path
                d="M480,325h-5V45c0-5.523-4.477-10-10-10H300V10c0-5.523-4.477-10-10-10h-90c-5.523,0-10,4.477-10,10v25H25
           c-5.523,0-10,4.477-10,10v280h-5c-5.523,0-10,4.477-10,10v35c0,5.523,4.477,10,10,10h152.338l-50.913,84.855l17.149,10.29
           L185.662,380H235v110h20V380h49.338l57.087,95.145l17.149-10.29L327.662,380H480c5.523,0,10-4.477,10-10v-35
           C490,329.477,485.523,325,480,325z M210,20h70v15h-70V20z M35,55h420v270H35V55z M470,360H20v-15h450V360z"
              />
              <path
                d="M170,90c-55.14,0-100,44.86-100,100s44.86,100,100,100s100-44.86,100-100S225.14,90,170,90z M170,270
           c-44.112,0-80-35.888-80-80c0-40.724,30.593-74.413,70-79.353V190c0,5.523,4.477,10,10,10h79.353
           C244.413,239.407,210.724,270,170,270z M180,180v-69.353c36.128,4.529,64.824,33.225,69.353,69.353H180z"
              />
              <rect x="345" y="130" width="70" height="20" />
              <rect x="345" y="160" width="70" height="20" />
              <rect x="345" y="190" width="70" height="20" />
              <rect x="345" y="100" width="45" height="20" />
              <path
                d="M324.999,119.999v-20h-45c-2.652,0-5.196,1.054-7.071,2.929l-15,15l14.143,14.143l12.07-12.072H324.999z"
              />
              <rect x="310" y="235" width="115" height="20" />
              <rect x="280" y="270" width="145" height="20" />
            </g>
          </g>
        </g>
      </svg>
    </a>
  </div>
</div>
<!-- Component End  -->

<!-- Component Start -->
<div
  class="max-md:hidden flex-col my-4 ml-4 shadow-lg items-center w-52 h-full overflow-hidden text-gray-700 bg-white rounded-2xl"
>
  <a class="flex items-center w-full px-3 mt-3" href="#">
    <img src="../.././assets/logof.png" class="w-48 p-2" />
  </a>
  <div class="w-full px-2">
    <div
      class="flex flex-col items-center w-full mt-3 border-t border-gray-300 py-4"
    >
      <!-- dashboard -->
      <a
        class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg
          class="w-6 h-6 stroke-current"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          />
        </svg>
        <span class="ml-2 text-sm font-medium">Dashboard</span>
      </a>
      <!-- pending -->
      <a
        class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
        routerLink="pending"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-bootstrap-reboot"
          viewBox="0 0 16 16"
        >
          <path
            d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"
          />
          <path
            d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"
          />
        </svg>
        <span class="ml-2 text-sm font-medium">Pending Task Calibration</span>
      </a>
      <!-- kalibrasi -->
      <a
        class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
        routerLink="kalibrasi"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg
          class="w-6 h-6 stroke-current"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
        <span class="ml-2 text-sm font-medium">Kalibrasi</span>
      </a>

      <!-- report -->
      <a
        class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
        routerLink="report"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg
          width="24"
          height="24"
          fill="#000000"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 490 490"
          xml:space="preserve"
        >
          <g>
            <g>
              <g>
                <path
                  d="M480,325h-5V45c0-5.523-4.477-10-10-10H300V10c0-5.523-4.477-10-10-10h-90c-5.523,0-10,4.477-10,10v25H25
                 c-5.523,0-10,4.477-10,10v280h-5c-5.523,0-10,4.477-10,10v35c0,5.523,4.477,10,10,10h152.338l-50.913,84.855l17.149,10.29
                 L185.662,380H235v110h20V380h49.338l57.087,95.145l17.149-10.29L327.662,380H480c5.523,0,10-4.477,10-10v-35
                 C490,329.477,485.523,325,480,325z M210,20h70v15h-70V20z M35,55h420v270H35V55z M470,360H20v-15h450V360z"
                />
                <path
                  d="M170,90c-55.14,0-100,44.86-100,100s44.86,100,100,100s100-44.86,100-100S225.14,90,170,90z M170,270
                 c-44.112,0-80-35.888-80-80c0-40.724,30.593-74.413,70-79.353V190c0,5.523,4.477,10,10,10h79.353
                 C244.413,239.407,210.724,270,170,270z M180,180v-69.353c36.128,4.529,64.824,33.225,69.353,69.353H180z"
                />
                <rect x="345" y="130" width="70" height="20" />
                <rect x="345" y="160" width="70" height="20" />
                <rect x="345" y="190" width="70" height="20" />
                <rect x="345" y="100" width="45" height="20" />
                <path
                  d="M324.999,119.999v-20h-45c-2.652,0-5.196,1.054-7.071,2.929l-15,15l14.143,14.143l12.07-12.072H324.999z"
                />
                <rect x="310" y="235" width="115" height="20" />
                <rect x="280" y="270" width="145" height="20" />
              </g>
            </g>
          </g>
        </svg>
        <span class="ml-2 text-sm font-medium">Report</span>
      </a>

      <!-- cetak qr-code -->
      <a
        class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
        routerLink="cetak"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg
          width="24"
          height="24"
          fill="#000000"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 490 490"
          xml:space="preserve"
        >
          <g>
            <g>
              <g>
                <path
                  d="M480,325h-5V45c0-5.523-4.477-10-10-10H300V10c0-5.523-4.477-10-10-10h-90c-5.523,0-10,4.477-10,10v25H25
                 c-5.523,0-10,4.477-10,10v280h-5c-5.523,0-10,4.477-10,10v35c0,5.523,4.477,10,10,10h152.338l-50.913,84.855l17.149,10.29
                 L185.662,380H235v110h20V380h49.338l57.087,95.145l17.149-10.29L327.662,380H480c5.523,0,10-4.477,10-10v-35
                 C490,329.477,485.523,325,480,325z M210,20h70v15h-70V20z M35,55h420v270H35V55z M470,360H20v-15h450V360z"
                />
                <path
                  d="M170,90c-55.14,0-100,44.86-100,100s44.86,100,100,100s100-44.86,100-100S225.14,90,170,90z M170,270
                 c-44.112,0-80-35.888-80-80c0-40.724,30.593-74.413,70-79.353V190c0,5.523,4.477,10,10,10h79.353
                 C244.413,239.407,210.724,270,170,270z M180,180v-69.353c36.128,4.529,64.824,33.225,69.353,69.353H180z"
                />
                <rect x="345" y="130" width="70" height="20" />
                <rect x="345" y="160" width="70" height="20" />
                <rect x="345" y="190" width="70" height="20" />
                <rect x="345" y="100" width="45" height="20" />
                <path
                  d="M324.999,119.999v-20h-45c-2.652,0-5.196,1.054-7.071,2.929l-15,15l14.143,14.143l12.07-12.072H324.999z"
                />
                <rect x="310" y="235" width="115" height="20" />
                <rect x="280" y="270" width="145" height="20" />
              </g>
            </g>
          </g>
        </svg>
        <span class="ml-2 text-sm font-medium">Cetak</span>
      </a>

    </div>
  </div>
</div>
<!-- Component End  -->
