<div
  class="h-screen pt-2 pb-24 pl-2 pr-2 overflow-auto md:pt-0 md:pr-0 md:pl-0"
>

  <div class="flex flex-col flex-wrap md:flex-row">
    <div class="w-full sm:w-1/2 xl:w-1/2">
      <div class="mb-4 sm:ml-4 xl-mr-4">
        <div class="w-full py-4 h-[400px] bg-white shadow-lg rounded-2xl dark:bg-gray-700">
          <h1 class="text-center font-bold font">Internal or External</h1>
          <div class="w-full">
            <canvas id="pieChart"></canvas>
        </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="w-full p-4 h-[450px] bg-white shadow-lg rounded-2xl dark:bg-gray-700">
          <h1 class="text-center font-bold font">Month</h1>
          <form [formGroup]="filterYear" (change)="filterByYear()">
            <select
              class="select select-primary w-full max-w-full"
              aria-label="Default select example"
              formControlName="year"
            >
              <option value="">Select Year</option>
              <option
                *ngFor="let item of tahun_filter; index as i"
                [value]="item"
              >
                {{ item }}
              </option>
            </select>
          </form>

          <apx-chart
            [series]="chartColumn.series"
            [chart]="chartColumn.chart"
            [legend]="chartColumn.legend"
            [dataLabels]="chartColumn.dataLabels"
            [colors]="chartColumn.colors"
            [plotOptions]="chartColumn.plotOptions"
            [xaxis]="chartColumn.xaxis"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 xl:w-1/2">
      <div class="mx-0 mb-4 sm:ml-4 xl:mr-4">
        <div class="w-full p-4 h-[400px] bg-white shadow-lg rounded-2xl dark:bg-gray-700">
          <h1 class="text-center font-bold font">Year</h1>
          <apx-chart
          [series]="chartBar.series"
          [chart]="chartBar.chart"
          [dataLabels]="chartBar.dataLabels"
          [plotOptions]="chartBar.plotOptions"
          [xaxis]="chartBar.xaxis"
        ></apx-chart>
        </div>
      </div>
      <div class="mb-4 sm:ml-4 xl:mr-4">
        <div class="w-full h-[450px] bg-white shadow-lg rounded-2xl dark:bg-gray-700">
          
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 xl:w-1/2">
      <div class="mb-4">
        <div class="p-4 bg-white shadow-lg rounded-2xl dark:bg-gray-700">
          <div class="flex flex-wrap overflow-hidden">
            <div class="w-full rounded shadow-sm">
              <div class="flex items-center justify-between mb-4">
                <div
                  class="text-xl font-bold text-left text-black dark:text-white"
                >
                  Dec 2021
                </div>
                <div class="flex space-x-4">
                  <button class="p-2 text-white bg-blue-500 rounded-full">
                    <svg
                      width="15"
                      height="15"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"
                      ></path>
                    </svg>
                  </button>
                  <button class="p-2 text-white bg-blue-500 rounded-full">
                    <svg
                      width="15"
                      height="15"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M10 19a1 1 0 0 1-.64-.23a1 1 0 0 1-.13-1.41L13.71 12L9.39 6.63a1 1 0 0 1 .15-1.41a1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
              <div class="-mx-2">
                <table class="w-full dark:text-white">
                  <tr>
                    <th class="px-2 py-3 md:px-3">S</th>
                    <th class="px-2 py-3 md:px-3">M</th>
                    <th class="px-2 py-3 md:px-3">T</th>
                    <th class="px-2 py-3 md:px-3">W</th>
                    <th class="px-2 py-3 md:px-3">T</th>
                    <th class="px-2 py-3 md:px-3">F</th>
                    <th class="px-2 py-3 md:px-3">S</th>
                  </tr>
                  <tr class="text-gray-400 dark:text-gray-500">
                    <td
                      class="px-2 py-3 text-center text-gray-300 md:px-3 dark:text-gray-500"
                    >
                      25
                    </td>
                    <td
                      class="px-2 py-3 text-center text-gray-300 md:px-3 dark:text-gray-500"
                    >
                      26
                    </td>
                    <td
                      class="px-2 py-3 text-center text-gray-300 md:px-3 dark:text-gray-500"
                    >
                      27
                    </td>
                    <td
                      class="px-2 py-3 text-center text-gray-300 md:px-3 dark:text-gray-500"
                    >
                      28
                    </td>
                    <td
                      class="px-2 py-3 text-center text-gray-300 md:px-3 dark:text-gray-500"
                    >
                      29
                    </td>
                    <td
                      class="px-2 py-3 text-center text-gray-300 md:px-3 dark:text-gray-500"
                    >
                      30
                    </td>
                    <td
                      class="px-2 py-3 text-center text-gray-800 cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      1
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      2
                    </td>
                    <td
                      class="relative px-1 py-3 text-center cursor-pointer hover:text-blue-500"
                    >
                      3
                      <span
                        class="absolute bottom-0 w-2 h-2 transform -translate-x-1/2 bg-blue-500 rounded-full left-1/2"
                      >
                      </span>
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      4
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      5
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      6
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      7
                    </td>
                    <td
                      class="relative px-2 py-3 text-center cursor-pointer md:px-3 lg:px-3 hover:text-blue-500"
                    >
                      8
                      <span
                        class="absolute bottom-0 w-2 h-2 transform -translate-x-1/2 bg-yellow-500 rounded-full left-1/2"
                      >
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      9
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      10
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      11
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      12
                    </td>
                    <td
                      class="px-2 py-3 text-center text-white cursor-pointer md:px-3"
                    >
                      <span class="p-2 bg-blue-500 rounded-full"> 13 </span>
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      14
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      15
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      16
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      17
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      18
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      19
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      20
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      21
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      22
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      23
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      24
                    </td>
                    <td
                      class="relative px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      25
                      <span
                        class="absolute bottom-0 w-2 h-2 transform -translate-x-1/2 bg-red-500 rounded-full left-1/2"
                      >
                      </span>
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      26
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      27
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      28
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      29
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      30
                    </td>
                    <td
                      class="px-2 py-3 text-center cursor-pointer md:px-3 hover:text-blue-500"
                    >
                      31
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="w-full p-4 bg-white shadow-lg rounded-2xl dark:bg-gray-700">
          <p class="font-bold text-black text-md dark:text-white">Messages</p>
          <ul>
            <li class="flex items-center my-6 space-x-2">
              <a href="#" class="relative block">
                <img
                  alt="profil"
                  src="/images/person/1.jpg"
                  class="mx-auto object-cover rounded-full h-10 w-10"
                />
              </a>
              <div class="flex flex-col">
                <span
                  class="ml-2 text-sm font-semibold text-gray-900 dark:text-white"
                >
                  Charlie Rabiller
                </span>
                <span class="ml-2 text-sm text-gray-400 dark:text-gray-300">
                  Hey John ! Do you read the NextJS doc ?
                </span>
              </div>
            </li>
            <li class="flex items-center my-6 space-x-2">
              <a href="#" class="relative block">
                <img
                  alt="profil"
                  src="/images/person/5.jpg"
                  class="mx-auto object-cover rounded-full h-10 w-10"
                />
              </a>
              <div class="flex flex-col">
                <span
                  class="ml-2 text-sm font-semibold text-gray-900 dark:text-white"
                >
                  Marie Lou
                </span>
                <span class="ml-2 text-sm text-gray-400 dark:text-gray-300">
                  No I think the dog is better...
                </span>
              </div>
            </li>
            <li class="flex items-center my-6 space-x-2">
              <a href="#" class="relative block">
                <img
                  alt="profil"
                  src="/images/person/6.jpg"
                  class="mx-auto object-cover rounded-full h-10 w-10"
                />
              </a>
              <div class="flex flex-col">
                <span
                  class="ml-2 text-sm font-semibold text-gray-900 dark:text-white"
                >
                  Ivan Buck
                </span>
                <span class="ml-2 text-sm text-gray-400 dark:text-gray-300">
                  Seriously ? haha Bob is not a child !
                </span>
              </div>
            </li>
            <li class="flex items-center my-6 space-x-2">
              <a href="#" class="relative block">
                <img
                  alt="profil"
                  src="/images/person/7.jpg"
                  class="mx-auto object-cover rounded-full h-10 w-10"
                />
              </a>
              <div class="flex flex-col">
                <span
                  class="ml-2 text-sm font-semibold text-gray-900 dark:text-white"
                >
                  Marina Farga
                </span>
                <span class="ml-2 text-sm text-gray-400 dark:text-gray-300">
                  Do you need that design ?
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
