<div
  class="h-screen pt-2 pb-24 pl-2 pr-2 overflow-auto md:pt-0 md:pr-0 md:pl-0"
>
  <div class="grid grid-cols-2 gap-6">
    <div *ngIf="dtRemainding">
      <div
        class="navbar flex justify-center items-center bg-white shadow-lg dark:bg-gray-700 rounded-2xl mb-2"
      >
        <h1 class="text-center font-medium">Akan Expired</h1>
      </div>
      <div *ngFor="let item of dtRemainding">
        <div
          class="text-center card w-full h-fit bg-gray-800 mb-3 shadow-md text-white alerts-border"
        >
          <div class="">
            <h2 class="card-title justify-center">Peringatan!</h2>
            <p>
              Harap Segera Recalibrasi Mesin <b>{{ item.equipment_name }}</b>
            </p>
            <p>
              Tersisa <b>{{ item.sisa_hari }} Hari</b> Dari Sekarang
            </p>
            <div class="justify-center py-3 space-x-2">
              <a
                href=""
                target="_blank"
                class="bg-yellow-300 text-white font-bold py-1 px-4 rounded"
                >Detail</a
              >
              <a
                href=""
                target="_blank"
                class="bg-sky-500 text-white font-bold py-1 px-4 rounded"
                >Recalibrasi</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dtRemainExp">
      <div
        class="navbar flex justify-center items-center bg-white shadow-lg dark:bg-gray-700 rounded-2xl mb-2"
      >
        <h1 class="text-center font-medium">Sudah Expired</h1>
      </div>
      <div *ngFor="let item of dtRemainExp">
        <div
          class="text-center card w-full h-fit bg-gray-800 mb-3 shadow-md text-white alerts-exp"
        >
          <div class="">
            <h2 class="card-title justify-center">Peringatan!</h2>
            <p>
              Harap Segera Recalibrasi Mesin <b>{{ item.equipment_name }}</b>
            </p>
            <p>
              Sudah Lebih <b>{{ item.lebih_hari }} Hari</b> Dari Tanggal
              Kadaluarsa
            </p>
            <div class="justify-center py-3 space-x-2">
              <a
                href=""
                target="_blank"
                class="bg-yellow-300 text-white font-bold py-1 px-4 rounded"
                >Detail</a
              >
              <a
                href=""
                target="_blank"
                class="bg-sky-500 text-white font-bold py-1 px-4 rounded"
                >Recalibrasi</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="grid gap-6 mb-8 md:grid-cols-4 xl:grid-cols-4">
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-red-500 dark:text-red-100 bg-red-100 dark:bg-red-500 mr-4"
          >
            <img src="/assets/icon/thermometer.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Temperature
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countTemp }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-gray-500 dark:text-gray-100 bg-gray-100 dark:bg-gray-500 mr-4"
          >
            <img src="/assets/icon/press.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Pressure
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countPress }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-sky-500 dark:text-sky-100 bg-sky-100 dark:bg-sky-500 mr-4"
          >
            <img src="/assets/icon/scale.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Massa
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countMass }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-teal-500 dark:text-teal-100 bg-teal-100 dark:bg-teal-500 mr-4"
          >
            <img src="/assets/icon/ph.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total pH
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countPh }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="grid gap-6 mb-8 md:grid-cols-4 xl:grid-cols-4">
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-sky-500 dark:text-sky-100 bg-sky-100 dark:bg-sky-500 mr-4"
          >
            <img src="/assets/icon/conduct.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Conduct
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countConduct }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-yellow-500 dark:text-yellow-100 bg-yellow-100 dark:bg-yellow-500 mr-4"
          >
            <img src="/assets/icon/dimensi.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Dimensi
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countDimensi }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-blue-500 dark:text-blue-100 bg-blue-100 dark:bg-blue-500 mr-4"
          >
            <img src="/assets/icon/refacto.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Refacto
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countRefracto }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-sky-300 dark:text-sky-100 bg-sky-100 dark:bg-sky-300 mr-4"
          >
            <img src="/assets/icon/enclosure.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Enclosure
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countEnclosure }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
      <div
        class="min-w-0 rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800"
      >
        <div class="p-4 flex items-center">
          <div
            class="p-3 rounded-full text-yellow-500 dark:text-yellow-100 bg-yellow-100 dark:bg-yellow-500 mr-4"
          >
            <img src="/assets/icon/termo.png" class="w-10" />
          </div>
          <div>
            <p
              class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
              Total Termohygro
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
              {{ countThermo }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
